# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# === Node / JavaScript dependencies ===
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Expo image cache and build output
*.apk
*.aab
*.ipa
*.app

# React Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler cache
.metro/
*.packager
*.tmp
*.log
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# === OS files ===
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local
.env
.env.local
.env.development
.env.production
.env.test
**/.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# iOS / Android build artifacts (if you ever eject)
ios/
android/
*.xcworkspace
*.xcuserstate
*.xcodeproj
*.keystore
*.gradle
*.iml

# === React (Vite / Dashboard) build output ===
report-dashboard/dist/
report-dashboard/.vite/
report-dashboard/.temp/
report-dashboard/.cache/
report-dashboard/node_modules/

# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# === Editor folders ===
.vscode/
.idea/
*.swp
.vercel
