body {
  font-family: system-ui, sans-serif;
  background: #f8f9fa;
  color: #222;
  margin: 0;
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

img {
  max-width: 100px;
}

button {
  background: #3b82f6;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

/*CSS for the Map container*/
.leaflet-container {
  width: 100%;
  height: 80vh;
  border-radius: 8px;
  margin-top: 1rem;
  z-index: 0;
}

/*CSS for the filters*/
.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters input {
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}